body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.steps p {
  border: 2px solid grey;
  padding: 8px 8px;
  border-radius: 50%;
  position: relative;
}
.defBar {
  background-color: red;
  border: 2px solid grey;
  z-index: -100;

  position: absolute;
  width: 76%;
}
.checked {
  background-color: red;
}
.show-form {
  display: block;
}
.hide-form {
  display: none;
}
