:root {
  --corect-color: #10dbff;
  --main-color: #fff;
  --background-color: #e2f4fc;
  --incorect-color: #a5a5a5;
}
.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 70%;
  margin: 0 auto;
}
.steps-cell {
  margin: 20px;
}

.show-form,
.show-info {
  display: block;
}
.show-form4 {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.show-form4 p {
  margin-bottom: -10px;
  font-size: 1.4rem;
  font-family: sans-serif;
  text-align: center;
}
.show-form4 h1 {
  font-size: 1.4rem;
  box-shadow: 0 3px 3px 2px #00000065;
  padding: 5px;
  border-radius: 11px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  font-style: italic;
}
.show-form4 button {
  margin-top: -8px;
  margin-bottom: 20px;
}
.show-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hide-form,
.hide-form {
  display: none;
}
.main-body {
  background-image: linear-gradient(#2424db, #ff00dd);
  height: 100vh;
}
.input-element input {
  border: none;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 30px;
  color: white;
  background-color: inherit;
}
.input-element input:focus {
  outline: none;
}
.input-element {
  width: 60%;
  margin: 0 auto;
}
.show-form:focus {
  outline: none;
}
.btn-cell button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: inherit;
  box-shadow: 0 3px 3px 2px #00000065;
  border-radius: 11px;
  padding: 3px 8px;
  color: white;
  font-size: 2rem;
}
.btn-cell {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.step {
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--incorect-color);
  color: var(--incorect-color);
  z-index: 100;
}
.checked {
  color: var(--corect-color);
  border: 5px solid var(--corect-color);
  transition: all 0.4s linear;
  transition-delay: 0.3s;
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.btn-quote {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 11px;
  background-color: inherit;
  color: var(--main-color);
  box-shadow: 0 3px 3px 2px #00000057;
  padding: 5px 7px;
}
.defBar {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: var(--incorect-color);
}
.accBar {
  position: absolute;
  height: 5px;
  width: 25%;
  background-color: var(--corect-color);
  transition: all 0.4s linear;
}
.step3 {
  width: 50%;
}
.step4 {
  width: 75%;
}
.step5 {
  width: 100%;
}
.lev {
  position: absolute;
  bottom: -20%;
  left: 1.8%;
}
.lev2 {
  position: absolute;
  left: 25%;
  bottom: -20%;
}
.lev3 {
  position: absolute;
  left: 48%;
  bottom: -20%;
}
.lev4 {
  position: absolute;
  left: 72%;
  bottom: -20%;
}
.lev5 {
  position: absolute;
  left: 95%;
  bottom: -20%;
}
label {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 3px;
}
